:root{
    --primary--color:#CF626D;
    --secondary--color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.header{
    background-image: linear-gradient( rgba(253, 247, 247, 0.788),#d6a6a675),url(../images/Banner.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.header-text{
    background-color:var(--primary--color);
    padding: 15px 30px;
    height: 100px;
    color: var(--secondary--color);
    position: relative;
    z-index: 1;
}
.logo{
    float: left;
    font-size: 45px;
    line-height: 30px;
    padding: 35px 45px 25px ;
}
.logo a{
    color: var(--secondary--color);
    text-decoration: none;
}
.navbar{
    line-height: 40px;
    float: left;
    margin: 0 0 0 150px;
    
}
ul li {
    display: inline-block;
    padding: 25px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color:  var(--secondary--color);
    padding: 25px;
}

.navbar a:hover{
    color: var(--primary--color);
    background-color: var(--secondary--color);
    border-radius: 8px;
}
.heading{
    display: inline-block;
    position:absolute;
    font-size: 30px;
    color: var(--primary--color);
    padding: 20px 45px 20px ;
    line-height: 80px;
    top: 35%;
    margin: 20px 10px;
    text-align: center;
}
button{
    width: 170px;
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #f7e4e5fd;
    border-color: var(--primary--color);
    transition: width 1000ms ease-in-out;
}
button span{
    font-size: 20px;
    text-decoration: none;
    color:  var(--primary--color);
    font-weight: bold; 
   
}
button:hover{
    width: 200px;
}
.footer{
    display: inline-block;
    text-align: center;
    background-color: var(--primary--color);
    color: var(--secondary--color);
    height: auto;
    width: 100%;
    line-height: 40px;
    padding: 50px;
}
.footer h3{
    font-size: 25px;
}
.footer a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 1338px){
    .logo{
        float: left;
        font-size: 40px;
        line-height: 10px;
        padding: 30px 40px 20px ;
    }
    .navbar{
        line-height: 20px;
        float: left;
        margin: 0 0 0 75px;
        
    }
    ul li {
        display: inline-block;
        padding: 25px;
        font-size: 15px;
    }
    .heading{
        display: inline-block;
        position:absolute;
        font-size: 30px;
        color: var(--primary--color);
        padding: 20px 45px 20px ;
        top: 40%;
        margin: 20px 10px;
        text-align: center;
    }
}
@media screen and (max-width: 1135px){
    .logo{
        font-size: 40px;
        line-height: 10px;
        padding: 30px 40px 20px ;
        margin: 0 0 10px 180px;
        border-bottom:  var(--secondary--color) 1px solid;
    }
    .header-text{
        height: 200px;
    }
    .navbar{
        line-height: 20px;
        float: left;
        margin: 0 0 0 180px;
        
    }    
    .heading-h1{
        font-size: 50px;
    }
}
@media screen and (min-width: 650px) and (max-width: 927px){
    ul li {
        display: block;
        padding: 25px;
        font-size: 15px;
    }
    .header-text{
        height: 280px;
    }
    .logo{
        float: left;
        font-size: 30px;
        margin-left: 0%;
        border-bottom:  var(--secondary--color) 1px solid;

    }
    
}
@media screen and (min-width: 310px) and (max-width: 649px){
    ul li {
        display: block;
        padding: 25px;
        font-size: 15px;
    }
    ul li a{
        text-align: center;
    }
    .header-text{
        height: 280px;
    }
    .heading{
        text-align: center;
        margin-left: 50px;
    }
    .heading-h1{
        font-size: 40px;
        line-height: 40px;
       
    }
    .logo{
        float: left;
        font-size: 25px;
        margin-left: 20px;
        border-bottom:  var(--secondary--color) 1px solid;
        max-width: 100%;
    }
    button{
        width: 150px;
        height: 40px;
    }
    button a{
      font-size: 15px;
    }
    .header{
        background-image: linear-gradient( rgba(253, 247, 247, 0.788),#d6a6a675),url(../images/Mobile-size.jpg);
        height: 100vh;
        width: 100%;
        background-size: cover;
    }
 
}
@media screen and (max-width: 425px){
    ul li{
       padding: 7px; 
    }
    ul li a{
        font-size: 10px;
    }
    .logo{
        font-size: 17px;
    }
    .header-text{
        height: 195px;
    }
    .heading-h1{
        font-size: 30px;
        text-transform:capitalize;
    }
}